td.yes {
        color: green;
      }
      td.no {
        color: red;
      }
      td.bool {
        text-align: center;
        font-weight: bold;
      }
      table {
        table-layout: fixed;
        overlow-x: scroll;
      }
      a:any-link.active {
        color: black;
      }
      a:any-link.deprecated {
        font-style: italic;
        text-decoration: none;
        color: grey;
      }
      th.param {
        text-align: left;
        font-weight: normal;
      }
      div#params {
        width: 1024px;
        width: 100%;
      }
