<footer>
  <span class='footer-item' author='license-info'>
    {{- with .Site.Params.license -}}
    <a href='{{ .url }}'>{{ .text }}</a>
    {{- end -}}
  </span>
  <span class='footer-item' id='author-info'>James Hannah {{ default .Date.Year .Page.Lastmod.Year }}</a></span>
  {{- $repoLink := "" -}}
  {{- if .Site.Params.github.siteRepo -}}
  {{- $repoLink = printf "https://github.com/%s/%s" .Site.Params.github.siteRepo.owner .Site.Params.github.siteRepo.repo
  -}}
  {{- end -}}
  {{ with .GitInfo }}
  <span class='footer-item' id='git-info'><a href='{{ $repoLink }}/commit/{{ .Hash }}'>git:{{ .AbbreviatedHash
      }}</a></span>
  {{ end }}
  <span class='noprint footer-gototop'><a href='#site-header'>Top of Page</a></span>
</footer>