<main id='page-article'>
  <article>
    {{ if not .Page.IsHome }}
    <header>
      <h2 id='article-title'>
        {{- with .Page.Params.emoji }}
        <span id='page-title-emoji'>{{ . }}</span>
        {{ end }}
        {{ .Title }}
      </h2>
      <p id='page-date'>{{ default .Page.Lastmod .Page.Date | time.Format "Jan 2, 2006"}}</p>
    </header>
    {{ end }}
    <div id='article-content'>
      {{ .Content }}
      {{- if .Page.IsPage -}}
      <hr id='page-info-divider' />
      <details>
        <summary>Page Info</summary>
        {{ partial "page-info" . }}
      </details>
      {{- else -}}
      {{ partial "article-list" . }}
      {{- end -}}
    </div>
  </article>
</main>