<div id="page-nav-links">
  {{/* Ok, the order of next/prev is wrong here, but it works */}}
  {{ with .Page.NextInSection }}
  <a href='{{ .RelPermalink }}'> {{ default "⬅️" .Params.emoji }} {{ .Title }}</a>
  {{ else }}
  <div id='first'>
    <a href='{{ .Site.Home.RelPermalink}}'>Back to Index</a>
  </div>
  {{ end }}
  {{ with .Page.PrevInSection }}
  <a href='{{ .RelPermalink }}'>{{ .Title }} {{ default "➡️" .Params.emoji }} </a>
  {{ else }}
  <a href='{{ .Site.Home.RelPermalink}}'>Back to Index</a>
  {{ end }}
</div>